header {
  color: #711def;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  font-size: 16px;
  position: relative;
}

.menu {
  display: flex;
}

.menu button {
  display: none;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-list li {
  display: inline-block;
  margin-left: 32px;
  font-size: 1.1em;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-list li.active,
.menu-list li:hover {
  color: #ff5360;
}

/*  -----    RESPONSIVENESS    -----  */

@media (max-width: 650px) {
  button.cta {
    max-width: 60%;
  }

  /* Nav Menu Responsiveness */

  .menu button {
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    color: #711def;
    outline: none;
    font-size: 1.7em;
    cursor: pointer;
    z-index: 2;
  }

  .menu i.fa-times,
  .menu.opened i.fa-bars {
    display: none;
  }

  .menu.opened i.fa-times,
  .menu i.fa-bars {
    display: block;
    animation: enter 0.8s;
  }

  @keyframes enter {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .menu-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #711def;
    color: #fff;
    padding: 46px;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .menu-list li {
    font-size: 1.7em;
    margin: 32px 0px;
  }

  .menu.opened .menu-list {
    transform: translateX(0);
  }

  .menu.opened button {
    color: #fff;
  }
}
