:root {
  --clr-accent-400: #595ac3;
  --clr-accent-300: hsl(12, 88%, 59%);
  --clr-accent-200: hsl(12, 88%, 75%);
  --clr-accent-100: #eff0fb;

  --clr-primary-400: #6364d9;

  --clr-neutral-300: #555;
  --clr-neutral-200: #333;
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-body: "Rubik", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 2rem;
  --fs-600: 6.2rem;

  --lh-300: 0.8125;
  --lh-400: 1;
  --lh-500: 1.05;
  --lh-600: 1.6;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.6rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 3.2rem;
  --size-900: 9.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-family: var(--ff-body);
  color: var(--clr-grey);
  font-weight: var(--fw-regular);
}

img {
  width: 100%;
  display: block;
}

.heading-primary {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: var(--lh-500);
  color: var(--clr-neutral-200);
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-primary-400);
  font-size: var(--fs-500);
  color: #fff;
  padding: var(--size-500) var(--size-800);
  border-radius: 9px;
  transition: all 0.3s ease;
  font-weight: var(--fw-semi-bold);
}

.btn:link:hover,
.btn:visited:hover {
  background-color: var(--clr-accent-400);
}
